<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于我 | 爱敲代码的小游子</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,爱敲代码的小游子,程序猿,springboot,java,后端,关于我">
    <meta name="description" content="爱敲代码的小游子，正宗00后，爱编程。专注于Spring,SpringBoot等后端技术探索">

    <link rel="icon" type="image/x-icon" href="https://ykyblog.oss-cn-shenzhen.aliyuncs.com/userImage/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/aboutmetimeline.css">
    <link href="https://lib.baomitu.com/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div id="wordsView">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">关于</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif"
                                         data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596812703542&di=7198c7a5d773a540a57dbf953127aae3&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201504%2F11%2F20150411H1727_YwPhQ.jpeg"
                                         class="enlargePicture am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="zhy-my-words" data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="zhy-info">
                                <p class="zhy-info-words">
                                    游凯扬，目前就读于湖北中医药大学，所属信工院物联网工程专业，追逐Java后端技术开发，
                                    梦想着进入bat，也将一直为此不断努力着。<br>
                                    <br>
                                    正宗00后，爱编程。<br>
                                    <br>
                                </p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p><br>
                            <hr>
                        </div>
                        <div class="zhy-hobby">
                            <blockquote style="padding: 10px 18px">
                                兴趣爱好
                                <ul>
                                    <li>擅长编程：沉迷于Java开发，专注于Web后端技术，追求新技术探索；</li>
                                    <li>......</li>
                                </ul>
                            </blockquote>
                            <span style="font-size: 14px;color: #555;">我就是这样的我，不求伟大，却又不甘于平凡，</span>
                        </div>
                        <div class="zhy-title-QRCode" style="margin-top: 20px">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="zhy-title-QRCode-word">
                                <strong>欢迎关注我的微信公众号： 爱敲代码的小游子</strong><br>
                                <strong><a href="https://youkaiyang.blog.csdn.net/">关注我的CSDN：https://youkaiyang.blog.csdn.net/</a></strong><br>
                                <img class="enlargePicture"
                                     src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif"
                                     data-src="https://ykyblog.oss-cn-shenzhen.aliyuncs.com/blog_front/weixin.jpg"><br>
                                <span>CSDN、微信公众号与本博客文章同步<br></span>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p>
                        </div>
                        <br><br>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>

                        <div style="text-align: right;margin: 30px auto">
                            <i class="am-icon-paper-plane am-icon-spin"></i>
                            <i class="am-icon-paper-plane-o am-icon-spin" style="margin-left: 60px"></i><br>
                        </div>
                        <div class="zhy-original">
                            <div class="zhy-original-title">
                                <h1 class="zhy-original-title-h1">初衷</h1>
                                <h2>写博客即是为了记录自己的学习历程，也希望能够结交志同道合的朋友一起学习。</h2>
                                <p class="zhy-erha">
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif"
                                         data-src="https://ykyblog.oss-cn-shenzhen.aliyuncs.com/blog_front/csdn.png"
                                         class="enlargePicture am-img-thumbnail">
                                </p><br><br>
                                <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                                <div class="zhy-original-words">
                                    <!--todo 补充内容-->
                                    <p></p>
                                    <div class="zhy-quot">
                                        <p class="zhy-quot-font" style="background-color: #fafafa;">
                                        <h1>写博客对程序员很重要吗？</h1>
                                        <p style="margin-top: 7px"></p>
                                        <h3>写博客有以下好处：</h3>
                                        <strong>I.真正掌握知识和技术</strong></br>
                                        <p>
                                            很多时候我们对于知识和技术的理解还停留在拿来主义，会用就可以了，偶尔也只是用云笔记整理记录一下，我们认为我们已经掌握了这些知识点和技术；但当我们向别人讲授这些知识和技术时，亦或过了一段时间重新看这些知识点时，我们才真正知道自己的理解程度是不够的。
                                            </br>
                                            写博客是一种很好的归纳总结知识点的方式，这样既锻炼了我们的思维和归纳总结能力，又可以将知识点以博客的形式分类记录下来以便后续查询。如果能用浅显易懂的字句把技术难点讲出来，这样就很厉害了。
                                        </p>
                                        </br></br>
                                        <strong>II.提高写作能力和归纳整理能力</strong></br>
                                        <p>
                                            写博客不只是把知识点和想法简单记录下来，而是要学习怎么用简单精辟，浅显易懂的方式将知识点讲明白，这样就需要我们在写博客中活跃自己的思维，提高归纳整理的能力，向那些博客高手学习，这样时间长了，你会发现自己的写作能力和归纳整理能力都在提高。</br>
                                        </p>
                                        </br>
                                        <strong>III.提高知名度</strong></br>
                                        <p>你的博客可以成为你的「简历」，可以展示你的很多方面：你的 Github（被称为程序员的新兴简历），你的 Stack Overflow
                                            账号，你的知乎账号，你的其他写作平台，你的个人项目，你的工作经验，你的生活态度。</br>
                                            这些都可以成为公司上网查询时了解你的最好途径，也能让你在业界享有声誉。你也能借此结实更多行业好友，大牛，收获你的粉丝。
                                        </p>
                                        </br>
                                        <strong>IV.产生价值，带来收入</strong></br>
                                        我们写博客要产生价值，首先得写一些自己觉得有价值的东西，然后可能给别人带来价值。博客内容越有价值，博客的受众会越来越多(当然这其中可能需要推广)，自然就可以为你带来收入。
                                        现在是一个知识付费的时代，越有价值的内容，越有读者愿意花钱去分享，这也激励作者更好的产出。如果你像阮一峰,stormzhang等一样那么有名，流量很大，那也会有不少广告来找你合作接入，也有很不错的收入。当然你也可以尝试在各种新的自媒体平台同步你的博客。<br>
                                        </p>
                                        </blockquote>
                                        <br><br>
                                        <p style="text-align: center">
                                            <b><i>学习的不仅是技术，更是梦想！<br>再牛B的技术，也经不住你傻B式的坚持！</i></b></p>
                                    </div>
                                </div>
                                <p><i class="am-icon-quote-right " style="float: right"></i></p><br>
                            </div>
                        </div>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                        <div class="zhy-opinion">
                            <div class="zhy-opinion-title">
                                <h1 style="font-size: 30px;font-weight: 400">意见反馈</h1>
                            </div>
                            <div class="zhy-erha">
                                <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif"
                                     data-src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/erha_opinion.gif"
                                     class="enlargePicture am-img-thumbnail">
                            </div>
                            <div class="zhy-opinion-words">
                                <p><strong><u><i>若本博客有做的不好的地方(涉及版权及其他问题)，请留言私信我进行整改。</i></u></strong></p>
                            </div>
                        </div>
                        <br><br>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                        <div class="zhy-life">
                            <div style="text-align: right;margin: 30px auto">
                                <i class="am-icon-arrows am-icon-spin"></i>
                                <i class="am-icon-arrows am-icon-spin" style="margin-left: 60px"></i><br>
                            </div>
                            <div class="zhy-life-title">
                                <span>心情</span>
                            </div>
                            <div class="zhy-you">
                                <!--todo 补充图片-->
                                <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif"
                                     data-src="https://ykyblog.oss-cn-shenzhen.aliyuncs.com/blog_front/mood.jfif"
                                     class="enlargePicture am-img-thumbnail">
                            </div>
                            <p></p>
                            <div class="content">
                                <article>
                                    <!--年份使用淡出动画，内容使用左侧滑入效果-->
                                    <h3 data-am-scrollspy="{animation: 'scale-up'}">2020</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2020-08">
                                            <span>2020/08/10</span>
                                        </time>
                                        <aside>
                                            <p class="things">预计初次部署测试</p>
                                            <p class="brief"><span class="text-red">预计初次部署测试时间</span>
                                            </p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2020-08">
                                            <span>2020/08/07</span>
                                        </time>
                                        <aside>
                                            <p class="things">开始征程</p>
                                            <p class="brief"><span class="text-red">前端真让人头秃....</span>
                                            </p>
                                        </aside>
                                    </section>
                                </article>

                            </div>
                        </div>

                    </div>
                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <!--页面留言-->
                        <div class="comment-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>

    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<!--放大图片插件-->
<script src="js/lightgallery/lightgallery.js"></script>
<script src="js/lightgallery/picturefill.min.js"></script>
<script src="js/lightgallery/lg-pager.js"></script>
<script src="js/lightgallery/lg-autoplay.js"></script>
<script src="js/lightgallery/lg-fullscreen.js"></script>
<script src="js/lightgallery/lg-zoom.js"></script>
<script>
    lightGallery(document.getElementById('wordsView'));
</script>
</body>
</html>